
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Alfa+Slab+One&family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {

    margin: 0;
    padding: 0;
    background-color: #030822;
    overflow: hidden;
}

header {
    background-color: #18183D;
    color: #fff;
    padding: 20px;
}

nav{
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}


.hero {
    text-align: center;
    padding: 50px 0;
    color: #fff;
    position: relative;
    top: 150px;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 27px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.hero .btn {
    background-color: #E8D18E;
    color: #0E0F1B;
    padding: 20px 30px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    right: 300px;
    position: relative;
    top: 100px;
    font-size: 30px;
}

.hero .b-v {
    color: #BFA043;
    position: relative;
    right: 300px;
}

.hero .xp {
    color: #BFA043;
    position: relative;
    right: 300px;
    top: 50px;
}

#txt img {
    position: relative;
    top: 220px;
    left: 30px;
}

#txt {
    background-color: #212161;
    position: absolute;
    height: 100%;
    width: 50%;
    font-family: "Amaranth", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.name {
    position: absolute;
    font-size: 200px;
    font-family: monospace;
    color: #fff;
    bottom: 500px;
    left: 50px;
    width: 100;
    font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

.nav {
    display: flex;
    justify-content: center;
}

.hmb{
    position:absolute;
    right: 70px;
    top: 30px;
    rotate: 14.13deg;
    width: 50%;
}